.casilla{
    width: 100px;
    height: 100px;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    color: gray;
}
   
#r{
    background-color:  #FDFFB7;
    color:black;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    border: solid 2px #FFD332;
    border-radius: 10px;
    font-family: 'Amaranth', sans-serif;
    transition-duration: 0.4s;
    margin: 15px;
    padding: 10px;
}

#r:hover{
    background-color:#FFF565;
    color:black;
}
   
div#turno{
    width: 300px;
    height: 120px;
    font-size:20px;
    font-weight:bold;
}
   
#lienzo{ 
    border: 3px solid transparent; 
    margin-right: 600px;
    float: right;
}
#titulo{
    font-family: 'Fredericka the Great', cursive;
    font-size: 100px;
}

#turno{
    font-family: 'Amaranth', sans-serif;
    font-size: 30px;
    text-align: center;
}
   